/* Alle Standardmargen und -abstände entfernen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Allgemeine Styling-Regeln */
body {
    background-color: #191970;
    text-align: center;
    color: white;
}

/* Navbar Styling */
#navbar {
    background-color: #1560bd;
    height: auto;
    width: 100vw;
    box-sizing: border-box;
    padding: 15px 0;
    font-size: 20px;
}
#navbar a {
    background-color:  	#002395;
    padding: 0px 15px;
    margin: 5px;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}
p {
    font-size: 20px;
}
button {
    background-color: #5F9EA0;
    width: 60px;
    height: 30px;
    border: none;
    margin: 2px;
    border-radius: 5px;
}
button:hover {
    background: #49797a;
}